<!doctype html>
<html data-bs-theme="dark" lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="Fully End-to-End Encrypted Pastebin">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon-16x16.png">
    <link rel="manifest" href="/public/site.webmanifest">


    <link rel="stylesheet" href="/public/css/styles.css">
    <link href="/public/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/atom-one-dark.min.css">
    <link rel="stylesheet" href="/public/bootstrap-icons/font/bootstrap-icons.min.css">
    <script src="/public/js/taboverride.min.js"></script>

    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/public/js/sw.js');
      }
    </script>
  </head>
  <body>
    
    <div class="container-lg g-0">
        {% include "nav" %}
        {% block page %}{% endblock %}
        {% include "footer" %}
    </div>
    
    <script src="/public/bootstrap/dist/js/bootstrap.bundle.min.js" ></script>
    <script type="module">
        const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
        const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))

        window.onscroll = function () {
            scrollFunction();
        };

        function scrollFunction() {
            if (
                document.body.scrollTop > 20 ||
                document.documentElement.scrollTop > 20
            ) {
                back_to_top.style.display = "block";
            } else {
                back_to_top.style.display = "none";
            }
        }

    </script>
  </body>
  
</html>