{% extends "layout" %}

{% block page %}
    <div class="spacer-50"></div>
    <div class="container justify-content-center bg-dark-subtle w-100 body-height rounded-2 mb-5">
        <div class="row">
            <h1 class="text-center mt-5">Password Tools</h1>
            <p class="text-center text-secondary mb-5" style="">Client side password tools to generate secure passwords and check password strength.</p>
            <div class="col-md-12 rounded-2">
                <h2 class="text-center mt-3">Password Generator</h2>
                <section class="h-100">
                    <div class="alert alert-secondary mt-4" role="alert">
                        <h4 class="text-light alert-heading">Generate a Secure Password</h4>
                        <p class="text-secondary" style="font-size:small;">Passwords are generated in your browser and never saved or sent anywhere.</p>
                        <hr>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="password" placeholder="Generated Password" aria-label="Generated Password" aria-describedby="generate" disabled>
                            <button data-toggle="popover" class="btn btn-outline-light" type="button" id="copy-password" onclick="copyToClipboard();">Copy</button>
                        </div>
                    </div>
                    <div class="form-check">
                            <input class="form-check-input bg-secondary mt-3" type="checkbox" value="" id="use-special" checked>
                            <label style="font-size:small;" class="form-check-label text-secondary mt-3" for="flexCheckDefault">
                                Use Special Characters
                            </label>
                        </div>
                        <label for="password-len" class="form-label text-white mt-3">Length: <span class="text-secondary" id="pass-len-display">14</span></label>
                        <input type="range" class="form-range" min="8" max="128" id="password-len">
                    <button id="password-gen" class="btn btn-outline-light my-4">Generate</button>
                </section>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 rounded-2">
                <h2 class="text-center mt-3">Password Strength</h2>
                <section class="h-100">
                    <div class="alert alert-secondary mt-4" role="alert">
                        <div class="d-flex justify-content-between align-items-center">
                            <h4 class="text-light alert-heading">Password Strength Checker</h4>
                            <button onclick="clear_field('password-strength')" id="" class="btn btn-dark">
                                <i class="bi bi-hurricane"></i>
                            </button>
                        </div>
                        <p class="text-secondary" style="font-size:small;">Check the strength of your password.</p>
                        <hr>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control focus-ring focus-ring-dark" id="password-strength" placeholder="Password Strength" aria-label="Password Strength" aria-describedby="generate">
                            <button data-toggle="popover" class="btn btn-danger" type="button" id="strength-meter" disabled>Weak</button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <button  type="button" class="btn btn-secondary btn-floating btn-lg" id="btn-back-to-top">
        <i class="bi bi-arrow-up"></i>
    </button>

    <script src="/public/js/password-page.js?v=1.0"></script>

    <script>
        let passwordStrength = document.getElementById('password-strength');
        passwordStrength.value = "";

        //Get the button
        let back_to_top = document.getElementById("btn-back-to-top");

        // When the user clicks on the button, scroll to the top of the document
        back_to_top.addEventListener("click", backToTop);

        function backToTop() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }

        function copyToClipboard() {
            var copyText = document.getElementById("password");
            navigator.clipboard.writeText(copyText.value);

            var popoverButton = document.getElementById('copy-password');

            // Create a new Popover instance
            var popover = new bootstrap.Popover(popoverButton, {
                content: 'Successfully Copied to clipboard!',
                placement: 'top',
                trigger: 'manual',
                customClass: 'bg-success'
            });

            // Show the popover
            popover.show();

            setTimeout(function () {
                popover.hide();
            }, 1500);
            
        }

        function clear_field(id) {
            document.getElementById(id).value = "";
            get_password_strength("");
        }
    </script>
{% endblock %}